@import 'src/assets/styles/colors';

.card {
  background: $white;
  padding: 2rem 1.25rem;
  flex: 1 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  .service_info {
    color: $light-blue;
  }
  .avatar {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-size: cover;
    background-position: center;
  }
  .arrow {
    background-color: $white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 3rem;
  }
  .icon, .star {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
  }
  .star {
    width: 16px;
    height: 16px;
  }
  img {
    width: 9rem;
    height: 8.5rem;
  }
  .square {
    width: 17px;
    height: 17px;
  }
}
