@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .carousel {
    padding: 0 12% !important;
  }
}

.carousel {
  padding: 0 22%;
  margin: 4rem 0;

  .slider {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
  .arrow {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 3rem !important;
    width: 2rem;
  }
  .slick-next:before,
  .slick-prev:before {
    content: "";
  }
}
