@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .filters, .all_filters {
    padding: 1rem 10% !important;
  }
  .all_filters {
    width: 80% !important;
  }
}

.all_filters, .filters {
  padding: 1rem 20%;
}

.filters {
  background-color: $light-grey;
  gap: 1rem;
  align-items: stretch;
  position: relative;
  z-index: 1;

  .row {
    justify-content: space-between;
    gap: 1.5rem;

    .inputs {
      display: flex;
      gap: 0.2rem;
      flex-wrap: wrap;
    }
  }
  span {
    display: flex;
    justify-content: flex-end;
    color: $blue;
    cursor: pointer;
  }
}

.shadow {
  -webkit-box-shadow: 0 10px 11px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 11px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 11px 6px rgba(0, 0, 0, 0.1);
}

.all_filters {
  width: 60%;
  position: absolute;
  background-color: $light-grey;
  z-index: 10;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  -webkit-box-shadow: 0 20px 13px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 13px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 13px 0 rgba(0, 0, 0, 0.1);

  span {
    display: flex;
    justify-content: flex-end;
    color: $blue;
    cursor: pointer;
  }
}
