@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .block {
    a {
      text-align: center !important;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background-color: $dark-blue;
  padding: 3rem 20%;
  align-items: stretch;
  gap: 1.5rem;

  .block {
    flex: 1;
    gap: 0.6rem;
    flex-basis: 7rem;

    &:last-child {
      flex: 1 100%;
      align-items: center;
      gap: 1rem;
    }

    span {
      color: $light-grey;
      flex: 1;
      text-align: right;
    }
    .icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
    }
    h3 {
      padding: 0;
      color: $light-grey;
      font-family: "Lato-Light", serif;
      text-transform: uppercase;
    }
  }
}
