@import 'src/assets/styles/colors';

.switch {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  flex: 1;

  button {
    text-transform: none;
    font-family: "Lato-Regular", serif;
    font-weight: normal;
    background: $white;
    color: $grey;
    font-size: 1rem;
    display: flex;
    flex: 1;
  }
  .selected {
    background: $grey;
    color: $white;
  }
}
