@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .grid_page {
    padding: 2rem 10% !important;
  }
}

.grid_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 20%;
  background-color: $light-grey;
}
