@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .container {
    padding: 1.5rem 10% !important;
  }
}

.property_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem 20%;
    background-color: $light-grey;
  }
}
