@import 'src/assets/styles/colors';

@media screen and (max-device-width: 425px) {
  .container {
    padding: 1.5rem 10% !important;
  }
  .container_2 {
    margin: 1.5rem 10% 5rem 10% !important;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container, .container_2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem 20%;
    background-color: $light-grey;
  }
  .container_2 {
    background-color: $white;
    margin: 1.5rem 25%;
    padding: 0;
  }
}
