@import 'colors';

@import 'components/Card';
@import 'components/Banner';
@import 'components/Map';
@import 'components/MoreInformationForm';

@import 'screens/PropertyPage';

html {
  size: 16px;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: $white;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, p, span, button {
  margin: 0;
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  color: $dark-blue;
  font-family: "Lato-Regular", serif;
  font-weight: normal;
}
h1 {
  font-family: "Lato-Black", serif;
}
h2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  color: $grey;
  font-family: "Lato-Italic", serif;
}
h4 {
  color: $grey;
  font-size: 1.05rem;
  padding: 0;
}
p, span {
  color: $grey;
  font-size: 1rem;
  font-family: "Lato-Light", serif;
  text-align: justify;
  padding: 0;
}
span {
  font-size: 0.875rem;
}
button {
  background-color: $light-blue;
  border: none;
  color: $white;
  padding: 0.875rem 1.25rem;
  font-weight: normal;
  cursor: pointer;
  flex: 1;
  font-size: 1.125rem;
  text-transform: uppercase;
}

@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
